<!-- Composant pour l'en-tête de l'application -->
<app-header></app-header>

<!-- Utilisation d'un conteneur temporaire pour gérer les données asynchrones -->
<ng-container *ngIf="accommodations | async as accommodations">
  <!-- Liste non ordonnée pour afficher les logements -->
  <ul class="mesLogements">
    <!-- Boucle sur chaque logement dans les données accommodations -->
    <li *ngFor="let item of accommodations" class="logement">
      <!-- Utilisation du composant 'app-card' pour afficher les détails du logement -->
      <app-card [cardData]="item"></app-card>
    </li>
  </ul>
</ng-container>

